.allegro-description {
  padding: 11px;
  box-sizing: border-box;
  max-width: 1200px;
}

.allegro-description .section {
  padding: 15px 0;
}

@media (max-width: 991px) {
  .allegro-description .section .item-6:nth-child(1) {
    padding-bottom: 10px;
  }
}

@media (min-width: 992px) {
  .allegro-description .section {
    display: flex;
    align-items: center;
  }

  .allegro-description .item-6 {
    width: 50%;
    float: left;
    position: relative;
    min-height: 1px;
  }
}

.allegro-description *, .allegro-description *::after, .allegro-description *::before {
  box-sizing: border-box;
}

.allegro-description .item {
  padding-left: 15px;
  padding-right: 15px;
}

.allegro-description .item-12 {
  width: 100%;
  min-height: 1px;
}

.allegro-description .text-item h1, .allegro-description .text-item h2 {
  display: block;
  font-family: "Roboto", "Open Sans", sans-serif /* once Roboto font is available globally on allegro sites, this fallback is not needed anymore */;
  font-weight: 500;
  margin: 18px 0;
}

.allegro-description .text-item p {
  margin: 16px 0;
  word-wrap: break-word;
}

.allegro-description .text-item h1 {
  color: #444444;
  font-size: 24px;
  line-height: 24px;
}

.allegro-description .text-item h2 {
  color: #444444;
  font-size: 18px;
  line-height: 18px;
}

.allegro-description .text-item ol, .allegro-description .text-item ul {
  padding-left: 40px;
  margin: 16px 0;
}

.allegro-description .text-item {
  color: #444444;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
}

.allegro-description .image-item img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.allegro-description .video-item .yt-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 853px;
}

.allegro-description .video-item .yt-responsive-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.allegro-description .video-item .yt-container .yt-responsive-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
